<style>
 /* https://www.youtube.com/watch?v=FcKksqdm97Q */
 .image-gallery-container {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     transition: 0.2s linear;
 }
 .image-gallery {
     columns: 11rem 5;
     gap: 1.4rem;
  }
  .image-gallery a img {
     width: 100%;
     margin: 0 0 1rem 0;
     border-radius: 0.7rem;
  }
  .image-gallery a img:hover {
     transform: scale(1.01);
  }
</style>
<div class="image-gallery-container">
<div class="image-gallery">
{% for file in site.static_files %}
  {% if file.path contains include.folder %}
    {% if file.extname == '.jpg' or 
      file.extname == '.jpeg' or 
      file.extname == '.JPG' or 
      file.extname == '.JPEG' %}

      {% assign filenameparts = file.path | split: "/" %}
      {% assign filename = filenameparts | last | replace: file.extname,"" %}

      <a href="{{ file.path }}" title="{{ filename }}" class="lightbox-image gallery">
        <img src="{{ site.github.url }}{{ file.path }}" alt="{{ filename }}" />
      </a>
    {% endif %}
  {% endif %}
{% endfor %}
</div> <!-- image-gallery -->
</div> <!-- image-gallery-container -->
